/* main styles, utiles*/
body {
    font-family: "Open Sans", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.text-corp {
    color: #005371;
}

.bg-corp {
    background: #005371;
}

.bg-dark-blue {
    background: #018ABE;
}

.bg-light-blue {
    background: #BFE2EE;
}

.card-shadow {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
}

.card-shadow:hover {
    transform: translate(-4px, -4px);
}

.opacity-80 {
    opacity: 0.8;
}


/* UI kit */
.btn {
    background: transparent;
    border: none;
}

.btn-corp {
    font-size: 16px;
    color: white;
    background: #005371;
    border-radius: 3px;
}

.btn-corp:hover {
    outline: 1px solid #005371;
}

.btm-corp-sm {
    font-size: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
}

.btn-white {
    color: #005371;
    background: white;
    border-radius: 50px;
    font-size: 14px;
}

.btn-white:hover,
.btn-icon:hover {
    color: white;
    outline: 1px solid white;
}

.btn-icon {
    background: white;
    border-radius: 5px;
    color: #005371;
    padding: 2px 8px;
    font-size: 18px;
}

.w-fit-content {
    width: fit-content;
}

/*  typography  */
.fs-4xl {
    font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
}

.fs-3xl {
    font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
}

.fs-2xl {
    font-size: clamp(1.125rem, 1.025rem + 0.5vw, 1.625rem);
}

.fs-xl {
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
}

.fs-lg {
    font-size: clamp(1rem, 0.925rem + 0.375vw, 1.375rem);
}

.fs-md {
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}

.fs-sm {
    font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
}

.fs-xs {
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

.fs-2xs {
    font-size: 14px;
}


/* bootstrap styles custom */
.nav-link {
    color: white;
    font-weight: 400;
}

.nav-link:hover {
    color: white;
    text-decoration: overline;
}

.navbar-toggler-icon {
    background-image: url('../icons/main/burger.svg');
    width: 1em;
    height: 1em;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* custom styles */
.logo {
    width: 150px;
}

.banner-img-bg {
    height: 80vh;
}


.main-header {
    position: fixed;
    background: #018ABE;
    z-index: 100;
    top: 0;
    width: 100%;
    left: 0;
}

.p-top-custom {
    padding-top: 150px;
}

.btn-prev,
.btn-next {
    top: 50%;
    transform: translateY(-50%);
}

.btn-prev {
    left: -80px;
}

.btn-next {
    right: -80px;
}

.icon-size {
    height: 50px;
}

.section-before-element::before {
    content: '';
    height: 100%;
    width: 55%;
    background: #BFE2EE;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.end-custom {
    bottom: 100px;
}

.icon-height-2 {
    height: 60px;
}

.custom-bg-height {
    height: 300px;
}

.product-slider-item {
    height: 200px;
    box-shadow: 5px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.slick-dots li button:before {
    opacity: 0.6;
    color: #008ABD;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #008ABD;
}

.slick-dots li button:before {
    font-size: 12px;
}

.slider-pruduct-prev,
.slider-pruduct-next {
    color: #008ABD;
    font-size: 36px;
}

.slider-product-btns {
    top: 0;
    right: 0;
}

footer {
    color: #29292B;
}

.footer-logo {
    width: 200px;
}

.footer-link {
    transition: all 0.3s ease;

}

.footer-link:hover {
    color: #005371;
    text-decoration: underline;
}

/* breackpoints media requires */
@media(max-width:990px) {
    .p-top-custom {
        padding-top: 50px;
    }

    .icon-height-2 {
        height: 80px;
    }

    .product-slider-item {
        height: 250px;
    }

    .product-slider-item img {
        height: 150px;
    }

    .slider-product-btns {
        top: unset;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
}

@media(max-width:576px) {
    .logo {
        width: 100px;
    }

    .banner-img-bg {
        height: 670px;
    }

    .footer-logo {
        width: 130px;
    }
}