/* main styles, utiles*/
body {
    font-family: "Open Sans", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.text-corp {
    color: #005371;
}

.text-dirt {
    color: #29292B;
}

.bg-corp {
    background: #005371;
}

.bg-dark-blue {
    background: #018ABE;
}

.bg-light-blue {
    background: #BFE2EE;
}

.bg-clear {
    background: #F8F8F8;
}

.card-shadow {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
}

.card-shadow:hover {
    transform: translate(-4px, -4px);
}

.opacity-80 {
    opacity: 0.8;
}

.lh-small {
    line-height: 1.4;
}

/* UI kit */
.btn {
    background: transparent;
    border: none;
}

.btn-corp {
    font-size: 16px;
    color: white;
    background: #005371;
    border-radius: 3px;
}

.btn-corp:hover {
    outline: 1px solid #005371;
}

.btm-corp-sm {
    font-size: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
}

.btn-white {
    color: #005371;
    background: white;
    border-radius: 50px;
    font-size: 14px;
}

.btn-white:hover,
.btn-icon:hover {
    color: white;
    outline: 1px solid white;
}

.btn-icon {
    background: white;
    border-radius: 5px;
    color: #005371;
    padding: 2px 8px;
    font-size: 18px;
}

.w-fit-content {
    width: fit-content;
}

/*  typography  */
.fs-4xl {
    font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
}

.fs-3xl {
    font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
}

.fs-2xl {
    font-size: clamp(1.125rem, 1.025rem + 0.5vw, 1.625rem);
}

.fs-xl {
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
}

.fs-lg {
    font-size: clamp(1rem, 0.925rem + 0.375vw, 1.375rem);
}

.fs-md {
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}

.fs-sm {
    font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
}

.fs-xs {
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

.fs-2xs {
    font-size: 14px;
}

.fs-3xs {
    font-size: 13px;
}

.line-2-wrapper {
    position: relative;
    overflow: hidden;
}

.line-2 {
    display: block;
    overflow: hidden;
    max-height: 3em;
    transition: max-height 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateZ(0);
    line-height: 1.5em;
}

.category-item:hover .line-2 {
    max-height: 350px;
    /* Максимальная высота, больше чем нужно */
}

/* bootstrap styles custom */
.dropdown-toggle::after {
    display: none;
}

.nav-link {
    color: white;
    font-weight: 400;
    border-radius: 15px;
    font-size: 15px;
}

.nav-link:hover,
.nav-link.active {
    color: #018ABE !important;
    border-radius: 15px;
    background: white;
}

.navbar-toggler-icon {
    background-image: url('../icons/main/burger.svg');
    width: 1em;
    height: 1em;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.form-control {
    border-radius: 10px;
    border: none;
    padding: 8px 15px;
    font-size: 18px;
}

.form-control::placeholder {
    font-size: 16px;
    color: rgba(41, 41, 43, 0.8);
}

.breadcrumb-item,
.breadcrumb-item+.breadcrumb-item::before {
    color: #005371;
    font-weight: 300;
}

/* custom styles */
.logo {
    width: 150px;
}

.banner-img-bg {
    height: 80vh;
}


.main-header {
    position: fixed;
    background: #018ABE;
    z-index: 100;
    top: 0;
    width: 100%;
    left: 0;
}

.p-top-custom {
    padding-top: 150px;
}

.btn-prev,
.btn-next {
    top: 50%;
    transform: translateY(-50%);
}

.btn-prev {
    left: -80px;
}

.btn-next {
    right: -80px;
}

.icon-size {
    height: 50px;
}

.section-before-element::before {
    content: '';
    height: 100%;
    width: 55%;
    background: #BFE2EE;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.end-custom {
    bottom: 100px;
}

.icon-height-2 {
    height: 60px;
}

.custom-bg-height {
    height: 300px;
}

.product-slider-item {
    height: 200px;
    box-shadow: 5px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.slick-dots li button:before {
    opacity: 0.6;
    color: #008ABD;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #008ABD;
}

.slick-dots li button:before {
    font-size: 12px;
}

.slider-pruduct-prev,
.slider-pruduct-next {
    color: #008ABD;
    font-size: 36px;
}

.slider-product-btns {
    top: 0;
    right: 0;
}

footer {
    color: #29292B;
    border-top: 1px solid #005371;
}

.footer-logo {
    width: 200px;
}

.footer-link {
    transition: all 0.3s ease;

}

.footer-link:hover {
    color: #005371;
    text-decoration: underline;
}

.title-elemented {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #005371;
    margin: 0;
}

/* обе линии */
.title-elemented::before,
.title-elemented::after {
    content: "";
    height: 3px;
    background: #005371;
}

.title-elemented::before {
    flex: 0 0 40px;
}

.title-elemented::after {
    flex: 1 1 auto;
}

.icon-size-3 {
    height: 80px;
}

.title-elemented-before.title-elemented::after {
    display: none;
}

.paragraph-element {
    position: relative;
}

.paragraph-element::before {
    content: '';
    height: 100%;
    width: 10px;
    border-radius: 10px;
    background: #005371;
    position: absolute;
    left: 0;
    top: 0;
}

.number {
    font-weight: bold;
    color: #005371;
    font-size: 80px;
}

.border-top-white {
    border-top: 1px solid white;
}

.dropdown-menu.mega {
    background: #FAFDFE;
    border: none;
    border-radius: 0;
}

.dropdown-menu img,
.dropdown-menu span,
.category-item-card img,
.category-item a {
    transition: all 0.3s ease;
}

.dropdown-menu a:hover img,
.category-item-card:hover img {
    transform: scale(1.1);
}

.category-item-card img {
    height: 80px;
}

.dropdown-menu a:hover span {
    text-decoration: underline;
}

.category-item-card:hover h6,
.category-item:hover a {
    color: #008ABD;
}

.category-quantity {
    clip-path: polygon(0 0, 100% 0, 51% 50%, 0% 100%);
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 3;
}

.basket-btn {
    border: 1px solid #005371;
    color: #005371 !important;
    transition: all 0.3s ease;
    border-radius: 50px;
    padding: 5px 8px;
}

.basket-btn:hover {
    background: #005371;
    color: white !important;
    transform: translateY(-4px);
}


/* breackpoints media requires */
@media(max-width:990px) {
    .p-top-custom {
        padding-top: 50px;
    }

    .icon-height-2 {
        height: 80px;
    }

    .product-slider-item {
        height: 250px;
    }

    .product-slider-item img {
        height: 150px;
    }

    .slider-product-btns {
        top: unset;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }

    .title-elemented::before,
    .title-elemented::after {
        display: none;
    }

    .title-elemented {
        justify-content: center;
    }

    .nav-link {
        padding: 10px;
        font-size: 16px;
    }
}

@media(max-width:576px) {
    .logo {
        width: 100px;
    }

    .banner-img-bg {
        height: 670px;
    }

    .footer-logo {
        width: 130px;
    }

    .custom-bg-height-mobile {
        height: 250px;
    }

    .icon-size-3 {
        height: 35px;
    }

    .line-2 {
        max-height: unset;
    }
}

@media(max-width: 420px) {
    .img-size-xs {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
}